body {
    font-family: Arial, sans-serif;
    background-color: #FFF8E1;
    margin: 0;
    padding: 20px;
}

/* 시작 화면 스타일 */
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.start-screen h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.start-screen button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #FFCC80;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 메인 콘텐츠 숨기기 */
.hidden {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}
.tab {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #FFE082;
    cursor: pointer;
}
.tab.active {
    background-color: #FFB300;
    font-weight: bold;
}
.content {
    display: none;
}
.content.active {
    display: block;
    background-color: #FFF8E1;
    padding: 20px;
}
.neighborhood {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.neighborhood div {
    background-color: #FFCC80;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    flex: 0 0 calc(20% - 20px); /* 5 items per row with some margin */
}
.neighborhood div.active {
    background-color: #D2691E;
    color: white;
}
.map-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFB300;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}